{% extends 'store/layouts/main.html' %}
 {% load static %}
 {% load humanize %}
 {%load i18n %}
{% block content %}

<title>
    {% block title %}Cart{% endblock title %}
</title>

 <!-- Header-->
 <header class="py-5" style=" background: url(../../../static/images/Mi-Notebook-Pro-X-15-1024x638-1024x638.jpg);">
    <div class="overlay"></div>
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Our various products</h1>
           
        </div>
    </div>
</header>
<div class="py-3 bg-secondary">
    <div class="container">
        <a class="text-white fw-bold" href="{% url 'home' %}">Home  |</a>
        <a class="text-white fw-bold" href="{% url 'collections' %}">Collections  | </a>
        <a class="text-white fw-bold" href="{% url 'cart' %}">Cart </a>
       
    </div>
</div>
<br/>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body cartdata">
                        {% if cart %}
                        	{% for item in cart %}
                        <div class="row product_data">
                            <div class="col-md-2 mt-3 my-auto">
                                <img src="{{ item.product.product_image.url }}" height="70px" width="70px" alt="Image here">
                            </div>
                            <div class="col-md-3 my-auto">
                                <h6 style="font-weight: bold;">{{ item.product.name }}</h6>
                            </div>
                            <div class="col-md-2 my-auto">
                                <h6 style="font-weight: bold;">Fcfa {{ item.product.formatted_selling_price | intcomma }}</h6>
                            </div>
                            <div class="col-md-3 my-auto">
                                <input type="hidden" class="prod_id" value="{{ item.product_id }}">
                                {% csrf_token %}
                            {% if item.product.quantity >= item.product_qty %}
                                <label style="font-weight: bold;" for="Quantity">Quantity</label>
                                <div class="input-group text-center ab-3" style="width: 120px;">
                                    <button style="font-weight: bold;" class="input-group-text changeQuantity decrement-btn">-</button>
                                    <input style="font-weight: bold;" type="text" name="quantity" class="form-control qty-input text-center" value="{{item.product_qty}}">
                                    <button style="font-weight: bold;" class="input-group-text changeQuantity increment-btn">+</button>
                                    
                                </div>
                            {% else %}
                                <h6> Out of Stock</h6> 
                            {% endif %}
                            </div>
                            <div class="col-md-2 my-auto">
                                <button class="btn btn-danger delete-cart-item">
                                    <i class="fa fa-trash"> </i>Remove
                                </button>
                            </div>
                        </div>
                        
                        	{% endfor %}
                            <br>
                            <a href="{% url 'checkout' %}" class="btn btn-success float-end">Checkout</a>
                        {% else %}
                        	<h4>Your cart is empty </h4>
                       
                        {% endif %}                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

